.themed-modal-dialog {
    margin: 1.75rem auto;
}

.themed-modal-content {
    background-color: #f8f9fa;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 2.2rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.5);
}

.themed-modal-content .modal-header {
    border-bottom: 1px solid #dee2e6;
    background-color: #343a40;
    color: white;
}

.themed-modal-content .modal-header .close {
    color: white;
}

.themed-modal-content .modal-title {
    font-weight: 500;
}
